﻿<%@ Application Language="C#" %>

<%@ Import Namespace="Hangfire" %>
<%@ Import Namespace="System.Web.Routing" %>

<script runat="server">

    void createDefaultUserRoles()
    {
        foreach (string role in UserAccount.roles)
        {
            try
            {
                if (!Roles.RoleExists(role))
                {
                    Roles.CreateRole(role);
                }
            }
            catch (Exception) { }
        }
    }

    void RegisterRoutes(RouteCollection routes)
    {
        //routes.MapPageRoute("",
        //    "Home", "~/Home.aspx");
    }

    void Application_Start(object sender, EventArgs e)
    {
        // Code that runs on application startup

        //create some default user roles
        createDefaultUserRoles();

        // Storage is the only thing required for basic configuration.
        // Just discover what configuration options do you have.
        //GlobalConfiguration.Configuration.UseSqlServerStorage("DatabaseConnectionString");
        //.UseActivator(...)
        //.UseLogProvider(...)

        RegisterRoutes(RouteTable.Routes);
    }

    void Application_End(object sender, EventArgs e)
    {
        //  Code that runs on application shutdown
    }

    void Application_Error(object sender, EventArgs e)
    {
        // Code that runs when an unhandled error occurs
    }

    void Session_Start(object sender, EventArgs e)
    {
        // Code that runs when a new session is started
    }

    void Session_End(object sender, EventArgs e)
    {
        // Code that runs when a session ends. 
        // Note: The Session_End event is raised only when the sessionstate mode
        // is set to InProc in the Web.config file. If session mode is set to StateServer 
        // or SQLServer, the event is not raised.
    }

       
</script>
