﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Calender.ascx.cs" Inherits="Calender" %>

<asp:TextBox ID="txtDate" runat="server"></asp:TextBox>
<asp:ImageButton CausesValidation="false" ID="ImageButton1" runat="server"  ImageUrl="~/App_Themes/Default/images/calendar.png" AlternateText="Toggle Calendar" OnClick="ImageButton1_Click" Width="34px" Height="28px"/>
<br />
<asp:Calendar ID="Calendar1" runat="server" OnSelectionChanged="Calendar1_SelectionChanged"></asp:Calendar>
