﻿
*::before, *::after {
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: border-box;
}

h2, .h2 {
    font-size: 30px;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-bottom: 10px;
    margin-top: 20px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #317eac;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;
}

a {
    color: #317eac;
    text-decoration: none;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #eee;
    background-image: url("../images/bg.png");
    color: #54565b;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.75;
    height: 100%;
    overflow: hidden;
}

.pageTitle {
    text-align: center;
}

.form {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}

.small-form {
    width: 60%;
}

.center {
    margin: 0 auto;
}

.control-div {
    width: 100%;
    padding-left: 15px;
}

    .control-div span {
    }

    .control-div select, .control-div input[type='text'], .control-div input[type='password'] {
        background-color: #fafafa;
        border: 1px solid #ccc;
        color: #000;
        /*height: 20px; to */
        padding: 10px;
        position: relative;
        width: 97.5%;
    }

    .control-div select {
        height: auto;
    }


.container-fluid::before, .container-fluid::after {
    content: " ";
    display: table;
}

.container {
}

    .container h2 {
        /*text-align:center;*/
    }

    .container form {
        margin: 0 auto;
    }

.sub-container {
    width: 860px;
    padding: 10px;
    background-color: #fff;
    /*border-radius: 0 0 10px 10px;*/
    margin: 0 auto 20px;
    padding: 10px 10px 50px;
}

.header {
    background-color: #0073a5;
    color: #fff;
    height: 46px;
    font-family: "Open Sans",sans-serif;
    font-size: 0.8em;
    line-height: 40px;
}

.inner-header {
    width: 870px;
    margin: 0 auto;
    padding-top: 6px;
    padding-left: 10px;
    background-color: #1e8cbe;
}

#Menu {
    float: right !important;
}

    #Menu a.static {
        padding: 0 !important;
    }

.main_menu {
    width: 80px;
    background-color: #0073a5;
    color: #fff;
    text-align: center;
    height: 40px;
    margin-right: 5px;
    line-height: 40px;
}

    .main_menu:hover {
        background-color: #0066a5;
    }

.level_menu {
    width: 110px;
    background-color: #000;
    color: #fff;
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
}

.selected {
    /*background-color: #852B91;*/
    background-color: #222;
    color: #fff;
}

.btn {
    /*padding: 10px;
    width: 97%;*/
}

.submit {
    color: #fff;
    background-color: #666;
}

#formAccountDisplay .control-div span:nth-last-of-type(2n) {
    color: #333;
    font-size: 1.1em;
}

.productsList {
    list-style: none;
    display: inline-block;
}

.datapager {
    width: 0;
    margin: 0 auto;
}

    .datapager span {
        padding: 5px;
    }

    .datapager a {
        padding: 5px;
    }

.gridTable {
    font-family: verdana,arial,sans-serif;
    font-size: 11px;
    color: #333;
    border-width: 1px;
    border-color: #666;
    border-collapse: collapse;
}

    .gridTable th, .table th {
        border: 1px solid #eee;
        color: #444;
        font-weight: bold;
        padding: 8px;
    }

    .gridTable td, .table td {
        border: 1px solid #eee;
        padding: 8px;
        background-color: #fff;
        padding: 10px;
    }

    .gridTable img {
        width: 30px !important;
        height: auto !important;
    }

    .gridTable a:hover {
        color: #666;
    }


.gridTable, .table {
    width: 100%;
}

    .gridTable td input {
        padding: 10px;
        width: 80%;
        position: relative;
    }

        .gridTable td input[type='button'], .gridTable td input[type='submit'] {
            padding: 10px;
            width: 80px;
        }

    a.btn, .gridTable td a.btn {
        border-radius: 5px;
        color: #fff;
        padding: 10px;
        text-decoration: none;
    }

a.black {
    background-color: #444;
    color: #fff;
}

    a.black:hover {
        background-color: #666;
    }

        a.btn:hover, .gridTable td a.btn:hover {
            /*background-color: #666;*/
            color: #fff;
        }



.button {
    font-family: 'Droid Sans', sans-serif;
    /*
    -webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;

	border: 1px solid rgba(0,0,0,0.4) ;
	box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5),
				0 0 1px 1px rgba(255,255,255,0.8),
				0 0 0 3px rgba(0,0,0,0.06),
				0 0 0 1px rgba(0,0,0,0.1);
    */
    cursor: pointer;
    color: #fff;
    /*margin-bottom: 5px;
    margin-top: 5px;*/
    border-radius: 5px;
    border: 1px none;
}

.disabled {
    cursor: default;
}

button.large, input.large {
    padding: 10px;
}

.title {
    padding: 10px;
    float: left;
    color: #fff;
    font-size: 12px;
    text-shadow: 1px 1px rgba(0,0,0,0.2);
    text-transform: uppercase;
    border-right: 1px solid rgba(255,255,255,0.3);
}

.price {
    padding: 10px;
    float: left;
    color: #333;
    font-size: 12px;
    text-shadow: 1px 1px rgba(255,255,255,0.3);
    text-transform: uppercase;
    border-left: 1px solid rgba(0,0,0,0.2);
}

/* colors */
.yellow {
    background: rgb(255,214,94);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZDY1ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZWJmMDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(255,214,94,1) 0%, rgba(254,191,4,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,214,94,1)), color-stop(100%,rgba(254,191,4,1)));
    background: -webkit-linear-gradient(top, rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%);
    background: -o-linear-gradient(top, rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%);
    background: linear-gradient(top, rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 );
}

    .yellow:hover {
        background: rgb(254,191,4);
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlYmYwNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmQ2NWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, rgba(254,191,4,1) 0%, rgba(255,214,94,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,191,4,1)), color-stop(100%,rgba(255,214,94,1)));
        background: -webkit-linear-gradient(top, rgba(254,191,4,1) 0%,rgba(255,214,94,1) 100%);
        background: -o-linear-gradient(top, rgba(254,191,4,1) 0%,rgba(255,214,94,1) 100%);
        background: -ms-linear-gradient(top, rgba(254,191,4,1) 0%,rgba(255,214,94,1) 100%);
        background: linear-gradient(top, rgba(254,191,4,1) 0%,rgba(255,214,94,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febf04', endColorstr='#ffd65e',GradientType=0 );
    }

.green {
    background: rgb(143,200,0);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhmYzgwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NjhlMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(143,200,0,1) 0%, rgba(102,142,0,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(143,200,0,1)), color-stop(100%,rgba(102,142,0,1)));
    background: -webkit-linear-gradient(top, rgba(143,200,0,1) 0%,rgba(102,142,0,1) 100%);
    background: -o-linear-gradient(top, rgba(143,200,0,1) 0%,rgba(102,142,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(143,200,0,1) 0%,rgba(102,142,0,1) 100%);
    background: linear-gradient(top, rgba(143,200,0,1) 0%,rgba(102,142,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc800', endColorstr='#668e00',GradientType=0 );
}

    .green:hover {
        background: rgb(102,142,0);
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2OGUwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4ZmM4MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, rgba(102,142,0,1) 0%, rgba(143,200,0,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,142,0,1)), color-stop(100%,rgba(143,200,0,1)));
        background: -webkit-linear-gradient(top, rgba(102,142,0,1) 0%,rgba(143,200,0,1) 100%);
        background: -o-linear-gradient(top, rgba(102,142,0,1) 0%,rgba(143,200,0,1) 100%);
        background: -ms-linear-gradient(top, rgba(102,142,0,1) 0%,rgba(143,200,0,1) 100%);
        background: linear-gradient(top, rgba(102,142,0,1) 0%,rgba(143,200,0,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#668e00', endColorstr='#8fc800',GradientType=0 );
    }

.flash {
    font-weight: normal;
    cursor: pointer;
    padding: 15px;
    font-family: helvetica;
    text-align: left;
    margin: 5px auto;
    width: 850px;
    border-radius: 3px;
    font-size: 14px;
}

.info {
    background-color: #339933;
    border-top-color: #339933;
    border-bottom-color: #339933;
    color: #fff;
}

.warning {
    background-color: #FFFF99;
    border-top-color: #CC9900;
    border-bottom-color: #CC9900;
    color: #663300;
}

.error {
    background-color: #e52c5a;
    border-top-color: #e52c5a;
    border-bottom-color: #e52c5a;
    color: #ffffff;
}

    .info a, .warning a, .error a {
        text-decoration: none;
    }

.form-title {
    padding: 10px;
}

.white-background {
    background-color: #fff;
}

.black-background {
    background-color: #000;
    background-image: none;
}

.main {
    padding-top: 85px;
    overflow-y: scroll;
    height: 100%;
    min-width: 500px;
}

    .main .flash {
        width: 97.7%;
    }

    .main .form {
        border: none;
    }

.col-sm-1, .col-sm-2, span.control-label, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}

.col-sm-2, span.control-label {
    width: 16.6667%;
}

.form-group {
    background-color: #faf9f9;
    border-top: 1px solid #efeff1;
    padding: 16px;
}

.alert-help {
    background-color: #faf9f9;
    border: 1px solid #efeff1;
    color: #5a5a5a;
    border-radius: 0px;
}

header.navbar-topnav {
    background-color: #fff;
    border: 1px solid #eee;
    min-height: 60px;
    padding: 0 20px;
    z-index: 100;
}

/*small/medium side display*/
@media (min-width: 768px) {

    .header-expanded {
        width: calc(100% - 40px); /*keeps 100% minus nav size*/
        margin-left: 40px;
    }
}

@media (min-width: 1330px) {

    .header-expanded {
        margin-left: 230px;
    }
}

header .header-content {
    height: 58px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1030;
}


header .header-content .page-title {
    color: #4c4e54;
    font-size: 19px;
    font-weight: normal;
    line-height: 55px;
    margin: 0;
}

    header .header-content .page-title a {
        color: #4c4e54;
    }

span.inplace {
    position: relative;
    /*left:15px;*/
}

span.absolute {
    position: absolute;
    left: 15px;
}


.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #080808;
}

.nav > li {
    background-color: #111;
}

nav.sidebar .navbar-nav .open .dropdown-menu {
    background-color: #222;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #222;
}

.admin > .active > a {
    color: #e52c5a !important;
}

.dropdown-menu .divider {
    background-color: #444;
}

.navbar-inverse .navbar-nav > .admin > a, .navbar-inverse .navbar-nav > .admin > a:hover, .navbar-inverse .navbar-nav > .admin > a:focus {
    color: #e52c5a;
}

.dropdown-menu {
    border-radius: 10px;
}

#external-events {
    float: left;
    width: 150px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
}

    #external-events h4 {
        font-size: 16px;
        margin-top: 0;
        padding-top: 1em;
    }

    #external-events .fc-event {
        margin: 10px 0;
        cursor: pointer;
    }

    #external-events p {
        margin: 1.5em 0;
        font-size: 11px;
        color: #666;
    }

        #external-events p input {
            margin: 0;
            vertical-align: middle;
        }

.breadcrumb {
    list-style: none;
    overflow: hidden;
    font: 16px Helvetica, Arial, Sans-Serif;
    padding: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color:#fff;
}

    .breadcrumb li {
        float: left;
    }

        .breadcrumb li a {
            color: white;
            text-decoration: none;
            padding: 10px 0 10px 55px;
            background: #666;
            position: relative;
            display: block;
            float: left;
        }

            .breadcrumb li a:after {
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
                border-bottom: 50px solid transparent;
                border-left: 30px solid #666;
                position: absolute;
                top: 50%;
                margin-top: -50px;
                left: 100%;
                z-index: 2;
            }

            .breadcrumb li a:before {
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
                border-bottom: 50px solid transparent;
                border-left: 30px solid white;
                position: absolute;
                top: 50%;
                margin-top: -50px;
                margin-left: 1px;
                left: 100%;
                z-index: 1;
            }

        .breadcrumb li:first-child a {
            padding-left: 10px;
        }

        .breadcrumb li:nth-child(2) a {
            background: #666;
        }

            .breadcrumb li:nth-child(2) a:after {
                border-left-color: #666;
            }

        .breadcrumb li:nth-child(3) a {
            background: #666;
        }

            .breadcrumb li:nth-child(3) a:after {
                border-left-color: #666;
            }

        .breadcrumb li:nth-child(4) a {
            background: #666;
        }

            .breadcrumb li:nth-child(4) a:after {
                border-left-color: #666;
            }

        .breadcrumb li:nth-child(5) a {
            background: #666;
        }

            .breadcrumb li:nth-child(5) a:after {
                border-left-color: #666;
            }

        .breadcrumb li:last-child a {
            background: white !important;
            color: black;
            pointer-events: none;
            cursor: default;
        }

            .breadcrumb li:last-child a:after {
                border: 0;
            }

        .breadcrumb li a:hover, .breadcrumb li.active a {
            background: #444;
        }

            .breadcrumb li a:hover:after, .breadcrumb li.active a:after {
                border-left-color: #444 !important;
            }

        .breadcrumb li.active span {
            color: #317eac;
        }

.steps {
    margin-bottom: 10px;
}

.steps .step {
    width: 280px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 10px; 
    float: left;
    margin: 0 auto;
    margin-right: 10px;
    border-radius: 4px;
    background-color: #eee;
}

    .steps h2 {
        font-size: 2em;
    }

.text-bold {
    font-weight:bold;
}

.legend {
    display: inline-block; 
    width: 100%; 
    border: 1px solid #ccc;
    margin-top: 10px; 
    background-color: #eee; 
    padding-top: 5px; 
    text-align: left;
}